@media (min-width: 768px) and (max-width: 1024px) {
    .container{
    margin: 0 auto;
      padding: 0;      
    }
.logo{
    margin-left: 8px;
}
   
.right-links{
    margin-right: 17px;
}

.first-section{
    height: 368px;
}

.first-section img{
    height:368px;
    margin-left: 100px;
}

.FS-Lable {
    margin-top: 138px;
    margin-right: 10px;
}

.Lable-header h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 53px;
}

.Lable-header h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}
.second-content{
    margin: 0 auto !important
}
.top-img-item {
    height: 167px;
    padding: 59px 39px;
    margin-top: 20px;
}
.bottom-img-item {
    height: 116px;
    padding: 33px;
   }

.top-img {
       margin-bottom: 20px;
   }
.ts-Card-img {
    width: 100%;
}
   .third-header {
       margin-top: 154px;
       margin-bottom: 74px;
   }
.Card-description {
    max-width: 100%;
}
.item-link{
    width:100%
}
.item-box{
    width:48.5%
}
.Browse
{margin-bottom: 65px;
    margin-top: 32px;
}
.fourth-section{
    min-height: 610px;
    padding-top:48px;
}
.fs{
    flex-direction: column;
}
.fs-content p{
    margin: 0 auto;
    margin-bottom: 48px;
}
.top-footer-block{
     background-size: cover;
     height: 614px; background-repeat: no-repeat;
    background-position-x: 25%;
     
}
.footer-top-content{
   flex-direction: column;
}
.left-block {
   margin: 0 auto;
    margin-top: 54px;
    margin-bottom: 48px;
}
.right-block {
    text-align: center;
    margin: 0 auto;
}






































}


            